:root {
  --primary: #a10000;
  --secondary: #ffc629;
  --info: #a10000;
  --warning: red;
  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --outline: #c3c0c0;
  --appBackground: #e8e8e8;
  --cardBackground: #d4d4d4;
  --metaText: #6b6b6b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: block;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #a10000;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color:  #ffc629;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: red;
}